In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('cat38.xlsx') # 0.84174
df2 = pd.read_excel('cat52.xlsx') # 0.84066
df3 = pd.read_excel('cat44.xlsx') # 0.84030
df4 = pd.read_excel('cat45.xlsx') # 0.83994
df5 = pd.read_excel('cat40.xlsx') # 0.83958

In [3]:
df1.head(2)

  Delivery_Time
0    30 minutes
1    30 minutes

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['Delivery_Time'] = le.fit_transform(df1['Delivery_Time'])
df2['Delivery_Time'] = le.transform(df2['Delivery_Time'])
df3['Delivery_Time'] = le.transform(df3['Delivery_Time'])
df4['Delivery_Time'] = le.transform(df4['Delivery_Time'])
df5['Delivery_Time'] = le.transform(df5['Delivery_Time'])
le.classes_

array(['120 minutes', '20 minutes', '30 minutes', '45 minutes',
       '65 minutes', '80 minutes'], dtype=object)

In [5]:
df1.head(2)

   Delivery_Time
0              2
1              2

In [6]:
y_pred1 = np.array(df1['Delivery_Time'])
y_pred2 = np.array(df2['Delivery_Time'])
y_pred3 = np.array(df3['Delivery_Time'])
y_pred4 = np.array(df4['Delivery_Time'])
y_pred5 = np.array(df5['Delivery_Time'])

In [7]:
y_pred = y_pred1*0.40 + y_pred2*0.2 + y_pred3*0.2 + y_pred4*0.1 + y_pred5*0.1

In [8]:
y_pred

array([2., 2., 2., ..., 3., 2., 4.])

In [9]:
sub = pd.DataFrame(data=y_pred, columns=['Delivery_Time'])
sub = sub.round().astype(int)
sub.head(5)

   Delivery_Time
0              2
1              2
2              2
3              2
4              2

In [10]:
sub['Delivery_Time'].value_counts()

2    2038
3     615
4     114
0       6
5       1
Name: Delivery_Time, dtype: int64

In [11]:
sub['Delivery_Time'] = le.inverse_transform(sub['Delivery_Time'])

In [12]:
sub['Delivery_Time'].value_counts()

30 minutes     2038
45 minutes      615
65 minutes      114
120 minutes       6
80 minutes        1
Name: Delivery_Time, dtype: int64

In [13]:
sub.to_excel('ensemble.xlsx', index=False)